* {
	margin: 0%;
	padding: 0%;
}

li {
	list-style: none;
}

.clear-float{
	clear: both;
	height: 0%;
}

body {
	background-image: url(./img/72019_top.webp);
	background-repeat: no-repeat;
	background-position: center 34px;
	background-attachment: fixed;
}


/*body{background: url(./img/72019_top.webp) no-repeat center fixed;}*/

.nav-bg {
	background-color: #000000;
	margin: auto;
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 999;
}

.content-all {
	position: relative;
	width: 1000px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.nav-content {
	width: 1000px;
	height: 100%;
	margin: auto;
}

.nav-content ul {
	height: 100%;
	color: #bebebe;
	font-size: 14px;
}

.nav-content ul li {
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
}

.nav-content a {
	text-decoration: none;
	color: #bebebe;
}

#nav-content-qqImg {
	background: url(img/icenterspritcow@2x.png) no-repeat 0 -2px;
	background-size: 311px 70px;
	width: 90px;
	height: 41px;
	padding: 0;
	margin-right: 10px;
}

#nav-content-qqImg a {
	height: 100%;
	display: block;
}

.ul-icon {
	background: url(img/31.32-adg160825172751@2x.png) no-repeat;
	background-size: 554px 388px;
	font-size: 0%;
	width: 16px;
	height: 16px;
	display: block;
}

.ListCenter {
	height: 100%;
	display: block;
	position: relative;
}
.ListCenter span {
	float: left;
}
#personCenter{
}
#personCenter span{
	margin-right: 10px;
}
.personCenter-i {
	background-position: -323px -26px;
	margin:12px 5px 12px 10px ;
	float: left;
}

.MyHomePage-i {
	background-position: -374px -260px;
	margin: 12px 5px 12px 10px;
	float: left;
}

.frends-i {
	background-position: -374px -235px;
	margin: 12px 5px 12px 10px;
	float: left;
}

.Game-i {
	background-position: -452px -1px;
	margin: 12px 5px 12px 10px;
	float: left;
}
.dessUp-i {
	background-position: -374px -312px;
	margin: 12px 5px 12px 10px;
	float: left;
}

.drop-down-arrow{
	font-size: 0%;
	width: 0%;
	height: 0%;
	border: 3px solid #404040;
	border-top-color: gray;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	float: right;
	margin-top: 19px;
	margin-right: 8px;
	margin-left: 5px;
}
#diamond-Img{
	background:url(img/icenterspritcow@2x.png) no-repeat -277px -21px;
	background-size:311px 70px;
	width: 16px;
	height: 11px;
	float: right;
	font-size: 0%;
	display: block;
	margin-top: 15px;
	margin-right: 5px;
}

#reset-img{
	background: url(img/31.32-adg160825172751@2x.png) no-repeat -375px -79px;
	width: 14px;
	height: 14px;
	background-size:554px 388px;
	font-size: 0%;
	float: right;
	margin-top: 13px;
	margin-right: 10px !important;
}

#login-out{
	background: url(img/31.32-adg160825172751@2x.png) no-repeat -400px -53px;
	width: 16px;
	height: 14px;
	background-size:554px 388px;
	font-size: 0%;
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	margin-left: 10px;
}

#MyTridings{
	float: right;
	height: 100%;
	max-width: 86px;
}

.mytridings-IMG{
	background: url(img/100.png) no-repeat 0px 0px;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	float: left;
	display: block;	
	font-size: 0%;
	margin: 8px 5px auto 3px;
}

.User-name{
	max-width: 50px;
	float: left;
	font-size: 12px;
}

.textOverFlow-ellipsis{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	word-break: normal;
	text-overflow: ellipsis;
}

.float-Right{
	float: right !important;
	display: block;
}
.float-Left{
	float: left !important;
	display: block;
}
.search-box{
	margin-top: 10px;
	margin-right: 10px;
	height: 20px;
	background-color: rgba(255,255,255,.25);
	border-radius: 2px;
	padding-right: 2px;
	margin-left: 5px;
}
.search-input{
	background-color: rgba(255,255,255,.0);
	border: none;
	width: 105px;
	height: 20px;
	padding-left: 3px;
	float: left;
}
.search-img{
	background: url(img/31.32-adg160825172751@2x.png) no-repeat -401px -131px;
	background-size:554px 388px;
	width: 14px;
	height: 14px;
	font-size: 0%;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
}

.music-start-a{
	background-color: rgba(255,255,255,0.25);
	width: 22px;
	height: 20px;
	float: left;
	display: block;
	margin-top: 10px;
	margin-right: 2px;
	margin-left: 10px;
}
.music-melody-b{
	background-color: rgba(255,255,255,0.25);
	width: 27px;
	height: 22px;
	float: left;
	display: block;
	margin-top: 9px;
	margin-right: 10px;
}
.music-Start-img{
	background: url(img/31.32-adg160825172751@2x.png) no-repeat -405px -340px;
	background-size:554px 388px;
	width: 7px;
	height: 12px;
	display: block;
	font-size: 0%;
	margin-left: 8px;
	margin-top: 4px;
}
.music-melody-img{
	background: url(img/31.32-adg160825172751@2x.png) no-repeat -400px -370px;
	background-size:554px 388px;
	width: 15px;
	height: 10px;
	display: block;
	font-size: 0%;
	margin-left: 6px;
	margin-top: 6px;
}
/******************头部***************/


.header-top {
	width: 100%;
	height: 305px;
	position: relative;
}

.user-space-info{
	position: absolute;
	top: 25px;
	font-size: 30px;
}

.textShadow{
	color: white;
	text-shadow:1px 1px 1px rgba(0,0,0,0.2);
}
.level-img{
	background: url(img/qz_qzone_lv-adg160825172751@2x.png) no-repeat -36px 0px;
	background-size: 304px 16px;
	width: 16px;
	height: 16px;
	font-size: 0%;
	margin-top: 12px;
	margin-left: 5px;
	margin-right: 5px;
}
.edit-phone{
	background: url(img/icenterspritcow@2x.png) no-repeat -165px 0px;
	background-size: 311px 70px;
	width: 34px;
	height: 22px;
	font-size: 0%;
	margin-top: 5px;
	margin-left: 5px;
}

.thumb-Up{
	height: 32px;
	width: 57px;
	border-radius: 16px;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 50px;
	right: 10px;
}
.thumb-Up i{
	background: url(img/icenterspritcow@2x.png) no-repeat -259px -36px;
	background-size: 311px 70px;
	width: 14px;
	height: 14px;
	font-size: 0%;
	margin-top: 7px;
	margin-left: 14px;
	margin-right: 5px;
}

.thumb-Up span{
	color: white;
	width: 20px;
	text-align: center;
	line-height: 32px;
}

.myOwnPicShow{
	position: absolute;
	top: 155px;
	border: #d9d9d9 1px solid;
}
.MypicShow{
	width: 120px;
	height: 120px;
	border-radius: 2px;
	border: #FFF 3px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.vip-pic{
	position: absolute;
	top: 200px;
	left: 136px;
	font-size: 20px;
	color: white;
	text-shadow: 2px,2px,2px,rgba(0,0,0,.4);
}
.vip-pic span{
	margin-right: 10px;
}

.content-List{
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
}

.content-List ul{
	width: 700px;
	height: 100%;
	margin: auto;
}
.content-List ul li{
	height: 100%;
	margin:auto 15px;
	float: left;
	display: block;
}

.content-List a{
	color: gray;
	height: 100%;
	line-height: 50px;
	text-decoration: none;
}
.content-List a:hover{
	text-decoration: underline;
}

.weather-module{
	height: 56px;
	position: absolute;
	top: 155px;
	right: 70px;
	color: white;
	text-shadow: 1px,1px,1px,rgba(0,0,0,.4);
}
.weather-module img{
	width: 56px;
	height: 56px;
}
.weather-degree{
	line-height: 56px;
	font-size: 40px;
}
.weather-address{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	margin-top: 6px;
}
.weather-Timer{
	height: 20px;
	line-height: 20px;
	font-size: 13px;
}
/*----------------内容页----------------*/

.main-content {
	width: 100%;
	position: relative;
	padding-top: 10px;
}

.main-content-left{
	float: left;
	width: 168px;
}
.main-content-middle{
	float: left;
	width: 554px;
	padding:0px 23px;
}
.main-content-right{
	float: left;
	width: 230px;
}


/*-----------left content------------*/
.left-first-list{
	background-color: black;
	border-radius: 3px;
	padding: 2px 1px;
	margin-bottom: 12px;
	position: relative;
}
.left-first-list li{
	height: 30px;
	position: relative;
}
.left-first-list li a{
	height: 100%;
	padding-left: 20px;
	text-decoration: none;
	display: block;
	position: relative;
}
.left-first-list li a span{
	color: #bebebe;
	font-size: 12px;
	max-width: 7em;
	display: inline-block;
	overflow: hidden;
	-webkit-flex-wrap: nowrap;
	white-space: nowrap;
	word-break: normal;
	text-overflow: ellipsis;
}

.left-first-list li a:hover{
	background-color: #222;
}



.left-list-img{
	margin-top: 8px;
	margin-right: 5px;
	background-position: -374px -235px;
}

.left-list-Title{
	height: 100%;
	line-height: 30px;
}

.left-list-img-right{
	background: url(img/icenterspritcow@2x.png) no-repeat -201px 0px;
	background-size: 311px 70px;
	width: 19px;
	height: 14px;
	position: absolute;
	top: 8px;
	right: 10px;
}
/*----------------middle Content------------------*/

.middle-content-Top{
	background-color: black;	
}

.middle-content-Top-header{
	height: 68px;
	padding: 1px;
}

.middle-content-Top-footer{
	height: 37px;
	border: 1px red solid;
	display: none;
}
.textarea-Publish-mood{
	height: 60px;
	width: 394px;
	padding: 3px 8px 5px;
	background:#404040;
	line-height: 20px;
	font-size: 14px;
	resize: none;
	outline: none;
	color: #a6a6a6;
	border: none;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.04);
	float: left;
}
/*----------Start placeholder 伪类---------*/
.textarea-Publish-mood::-moz-placeholder{
	color: #808080;
}
.textarea-Publish-mood::-webkit-input-placeholder{
	color: #808080;
}
/*----------Start placeholder 伪类---------*/

.Published-mood-a{
	height: 68px;
	width: 46px;
	float: left;
	margin-left: 1px;
	background-color: #404040;
	text-align: center;
}

.Published-mood-a-pic{
	background-position:-244px -106px;
	width: 24px;
	height: 24px;
	margin-top: 22px;
	display: inline-block;
}
.Published-mood-a-vidio{
	background-position:-244px -131px;
	width: 24px;
	height: 24px;
	margin-top: 22px;
	display: inline-block;
}
.Published-mood-a-funning{
	background-position:-245px -209px;
	width: 22px;
	height: 22px;
	margin-top: 24px;
	display: inline-block;
	position: relative;
}

.Published-mood-a-funning i{
	width: 17px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: -12px;
	right: -10px;
	font-family: "微软雅黑" arial;
	font-size: 12px;
	font-style: normal;
	color: #D9D9D9;
	background-color: #008000;
	text-align: center;
	line-height: 17px;
	border-radius: 2px;
}


/*------全部动态-------*/
.all-dynamic{
	
}
.all-dynamic a{
	color:  whitesmoke;
	text-decoration: none;
	display: inline-block;
}
.all-dynamic a:hover{
	text-decoration: none;
}

/*发表心情*/
.person-mood-info-header{
	min-height: 50px;
	margin-bottom: 12px;
	padding: 15px 10px 0px 72px;
	position: relative;
}

.mood-header-img{
	background: url(img/50.jpeg) no-repeat;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.person-mood-info-body{
	padding: 10px;
	position: relative;
}










